@model KitchenViewModel;

@section CSS {
    <link rel="stylesheet" href="~/css/Kitchen/index.css" />
}

@section Scripts {
    <script type="module" src="~/js/kitchen/index.js"></script>
}

<div class="kitchen-home" id="kitchen-home">
    <h1 class="table-header" id="table-header">Orders:</h2>
    <div class="list" id="list">
    </div>
</div>