@model IndexViewModel;

@section CSS {
    <link rel="stylesheet" href="~/css/Home/index.css" />
}

@section Scripts {
    <script type="module" src="~/js/home/index.js"></script>
}

<div class="index">
    <div class="title">
        <h1 class="header">Lunchpad</h1>
    </div>
    <div class="button-1">
        <a class="button" href="/home/login">Login</a>
    </div>
</div>
