@model RestaurantViewModel;

@section CSS {
    <link rel="stylesheet" href="~/css/Restaurant/index.css" />
}

@section Scripts {
    <script type="module" src="~/js/restaurant/index.js"></script>
}

<div class="restaurant-home" id="restaurant-home">
    <h1 class="table-header" id="table-header">Tables:</h2>
    <div class="list" id="list">
    </div>
</div>