@{
    string Title = "invalid title";
    if (Model != null) if (Model.Title != null)
        Title = Model.Title;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="~/css/global.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/192207dabe.js" crossorigin="anonymous"></script>
    @RenderSection("CSS", required: false)
</head>

<body>
    @if (Model == null || Model.ViewHeader) Html.RenderPartial("_Header");

    <div class="main-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (Model == null || Model.ViewFooter) Html.RenderPartial("_Footer");

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script type="module" src="~/js/header.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
