.admin-home {
    margin-left: 160px;
    margin-top: 20px;
    width: calc(100% - 320px);
}

.display-options button,
.display-options button:focus,
.create {
    background-color: var(--resButton);
    color: #fff;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: var(--resButton);
    padding: 15px 32px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.create {
    margin-bottom: 10px;
}

.display-options button:hover,
.create:hover {
    background-color: #fff;
    color: #000;
}

.list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-element {
    background-color: #eee;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    width: 100%;
}

.list-element .name,
.ingredients .list-element .diet,
.dishes .list-element .price {
    font-size: 20px;
    padding-top: 8px;
    padding-left: 20px;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 8px;
    margin-block: 0;
    flex: 20%;
}

.ingredients .list-element .diet,
.dishes .list-element .price {
    flex: 65%;
}

.list-element .trash,
.list-element .edit {
    margin-left: 10px;
    padding-top: 14px;
    flex: 15%;
    font-size: 20px;
    text-align: center;
    background-color: #ddd;
    border-radius: 10px;
    cursor: pointer;
}

.pickedlist {
    font-family: 'Nunito', sans-serif;
}

.popup-back {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 0.99;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
}

.popup {
    font-family: 'Nunito', sans-serif;
    background-color: #ddd;
    z-index: 1;
    position: fixed;
    width: 60%;
    height: 40%;
    left: 20%;
    top: 30%;
    border-radius: 20px;
}

.top {
    display: flex;
}

.popup p {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 20px;
}

.popup h2 {
    flex: 50%;
    padding-left: 15px;
    font-size: 30px;
    margin-block-start: 0;
    padding-top: 10px;
    margin-block-end: 0;
}

.dish_popup .popup-content {
    display: flex;
}

.dish_popup .namecontainer {
    flex: calc(33% + 60px);
}

.dish_popup .pricecontainer {
    flex: calc(33% + 60px);
}

.dish_popup .confirm {
    flex: 33%;
    margin-right: 30px;
    margin-left: 30px;
}

.namebox,
.pricebox {
    margin-left: 20px;
}

.namewarning,
.pricewarning {
    color: rgb(202, 54, 28);
}

.diet {
    padding-top: 10px;
}

.dietInput {
    display: flex;
    margin-left: 20px;
}

.dietInput .box,
.add {
    flex: 33%;
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 35px;
}

.dietInput input,
.dishIngredients input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 50%;
}

.dishIngredients .checkmark {
    background-color: #ddd;
}

.box:hover input~.checkmark,
.add:hover input~.checkmark {
    background-color: #aaa;
}

.box input:checked~.checkmark,
.add input:checked~.checkmark {
    background-color: var(--resButton);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.box input:checked~.checkmark:after,
.add input:checked~.checkmark:after {
    display: block;
}

.box .checkmark:after,
.add .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.ingredient_popup .confirm {
    width: 50%;
    margin-left: 20px;
    height: 50px;
    margin-top: 20px;
}

.cancel {
    cursor: pointer;
    padding-right: 10px;
    font-size: 60px;
    color: rgb(202, 54, 28);
}

.dishIngredients {
    background-color: rgb(200, 200, 200);
    width: calc(100% - 10px);
    bottom: 0;
    margin-top: 3%;
    border-radius: 20px;
    height: 65%;
    overflow-y: scroll;
    padding-top: 10px;
    padding-left: 10px;
}

#dishIngredients::-webkit-scrollbar-track {
    border-radius: 10px;
}

#dishIngredients::-webkit-scrollbar {
    width: 6px;
    margin-top: 10px;
}

#dishIngredients::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
}

.dishIngredient {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ccc;
    margin-right: 10px;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.confirm {
    cursor: pointer;
}